In [2]:
import pandas as pd
import numpy as np

df_vendas = pd.read_csv("vendas_tech.csv", encoding='utf-8', low_memory=False)
display(df_vendas)
df_gerentes = pd.read_excel("gerentes_lojas.xlsx")
display(df_gerentes)

,ID_Pedido,Data,Loja,Produto,Preco_Unitario,Qtd,Cliente,Data_Base
0,1,2023-06-08,São Paulo,Mouse Gamer,120.0,1,Cliente_4095,2025-01-01
1,2,2023-03-01,Belo Horizonte,iPhone 14,5500.0,1,Cliente_8750,NaN
2,3,2023-02-25,NaN,"Monitor 27""",1200.0,1,Cliente_14859,NaN
3,4,2024-11-19,RIO DE JANEIRO,Mouse Gamer,120.0,2,Cliente_17343,NaN
4,5,2024-01-27,Rio de Janeiro,Smartphone Samsung,2200.0,1,Cliente_23377,NaN
...,...,...,...,...,...,...,...,...
100095,94091,2023-10-20,Porto Alegre,iPhone 14,5500.0,1,Cliente_11755,NaN
100096,52883,2024-03-17,Porto Alegre,Notebook Dell,3500.0,2,Cliente_12879,NaN
100097,65070,2023-06-19,Belo Horizonte,Smartphone Samsung,2200.0,2,Cliente_8160,NaN
100098,94031,2024-06-14,Salvador,iPhone 14,5500.0,2,Cliente_28545,NaN
100099,36755,2023-01-03,São Paulo,Notebook HP,3200.0,2,Cliente_3274,NaN

             Loja   Gerente  Meta_Mensal
0       São Paulo    Carlos        50000
1  Rio de Janeiro  Fernanda        60000
2        Curitiba   Roberto        45000
3  Belo Horizonte   Juliana        55000
4          Recife    Marcos        48000
5    Porto Alegre     Pedro        42000
6        Salvador       Ana        52000

In [3]:
# display(df_vendas.head(10)) 
# display(df_vendas.tail(10))
# display(df_vendas.sample(7))
# display(df_vendas.shape)
# display(df_vendas.columns)
display(df_vendas.info())
# display(df_vendas.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100100 entries, 0 to 100099
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ID_Pedido       100100 non-null  int64
 1   Data            100100 non-null  object
 2   Loja            98099 non-null   object
 3   Produto         100100 non-null  object
 4   Preco_Unitario  100100 non-null  float64
 5   Qtd             100100 non-null  int64
 6   Cliente         100100 non-null  object
 7   Data_Base       1 non-null       object
dtypes: float64(1), int64(2), object(5)
memory usage: 6.1+ MB

None

In [4]:
#TRATAMENTO DE DADOS

# display(df_vendas['Loja']) #Seleciona uma coluna do DataFrame
# df_vendas[['Loja', 'Produto']] #Seleciona varias colunas
df_analise = df_vendas.drop(columns=['Data_Base']) #Exlui coluna
# df_analise = df_analise.dropna() #Exclui todas as linhas que estao com valores nulos
df_analise['Loja'] = df_analise['Loja'].fillna('Online') #Preenche valores onde o campo estiver vazio
df_analise['Data'] = pd.to_datetime(df_analise['Data'], format="%Y-%m-%d") #Converte para Data 
df_analise['Loja'] = df_analise['Loja'].str.strip() #Remove os espaços inuteis
df_analise['Loja'] = df_analise['Loja'].str.title() #A primeira letra de cada palavra fica em Maiusculo
df_analise = df_analise.drop_duplicates(subset=['ID_Pedido']) #Remove as linhas duplicadas por coluna especifica

display(df_analise.info())

<class 'pandas.core.frame.DataFrame'>
Index: 100000 entries, 0 to 99999
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ID_Pedido       100000 non-null  int64
 1   Data            100000 non-null  datetime64[ns]
 2   Loja            100000 non-null  object
 3   Produto         100000 non-null  object
 4   Preco_Unitario  100000 non-null  float64
 5   Qtd             100000 non-null  int64
 6   Cliente         100000 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(3)
memory usage: 6.1+ MB

None

In [5]:
#CRIAR NOVAS COLUNAS

#Faturamento
df_analise['Faturamento'] = df_analise['Preco_Unitario'] * df_analise['Qtd'] #Cria a coluna com uma conta simples

#Forma de Venda
df_analise['Forma_de_Venda'] = np.where(df_analise['Loja'] == 'Online', 'Online', 'Fisica') #Cria a coluna por meio de uma condiçao (Condiçao, valor True, valor False)


#Regiao
display(df_analise['Loja'].unique()) #Retorna valores unicos em uma coluna

dic_regioes = {
    'São Paulo': 'Sudeste', 
    'Belo Horizonte': 'Sudeste',
    'Online': 'Online', 
    'Rio De Janeiro': 'Sudeste',
    'Salvador': 'Nordeste', 
    'Recife': 'Nordeste', 
    'Curitiba': 'Sul', 
    'Porto Alegre': 'Sul'
}

df_analise['Regiao'] = df_analise['Loja'].map(dic_regioes)

display(df_analise)
display(df_analise.isna().sum()) #Verifica se tem alguma linha de todas as colunas vazias

array(['São Paulo', 'Belo Horizonte', 'Online', 'Rio De Janeiro',
       'Salvador', 'Recife', 'Curitiba', 'Porto Alegre'], dtype=object)

,ID_Pedido,Data,Loja,Produto,Preco_Unitario,Qtd,Cliente,Faturamento,Forma_de_Venda,Regiao
0,1,2023-06-08,São Paulo,Mouse Gamer,120.0,1,Cliente_4095,120.0,Fisica,Sudeste
1,2,2023-03-01,Belo Horizonte,iPhone 14,5500.0,1,Cliente_8750,5500.0,Fisica,Sudeste
2,3,2023-02-25,Online,"Monitor 27""",1200.0,1,Cliente_14859,1200.0,Online,Online
3,4,2024-11-19,Rio De Janeiro,Mouse Gamer,120.0,2,Cliente_17343,240.0,Fisica,Sudeste
4,5,2024-01-27,Rio De Janeiro,Smartphone Samsung,2200.0,1,Cliente_23377,2200.0,Fisica,Sudeste
...,...,...,...,...,...,...,...,...,...,...
99995,99996,2023-01-24,São Paulo,Mouse Gamer,120.0,2,Cliente_13732,240.0,Fisica,Sudeste
99996,99997,2024-08-28,Rio De Janeiro,Cabo HDMI,40.0,1,Cliente_25058,40.0,Fisica,Sudeste
99997,99998,2024-03-18,Curitiba,Smartphone Samsung,2200.0,2,Cliente_28864,4400.0,Fisica,Sul
99998,99999,2023-11-04,Porto Alegre,iPhone 14,5500.0,1,Cliente_4205,5500.0,Fisica,Sul
99999,100000,2024-06-15,Curitiba,Teclado Mecânico,250.0,1,Cliente_12237,250.0,Fisica,Sul

ID_Pedido         0
Data              0
Loja              0
Produto           0
Preco_Unitario    0
Qtd               0
Cliente           0
Faturamento       0
Forma_de_Venda    0
Regiao            0
dtype: int64

In [6]:
#ANALISAE -> FILTRAR

df_analise = df_analise.sort_values(by=['Data', 'Faturamento']) #Ordena por coluna (ascending=False -> decrescente)
df_analise = df_analise.reset_index(drop=True) #Reseta o indice e exclue o que ja tinha (Depois de filtros/ordenação, o índice fica bagunçado.)

#Filtra por indice da linha e nome da coluna 
loja = df_analise.loc[3, 'Loja'] 
produto = df_analise.loc[3, 'Produto']
cliente = df_analise.loc[3, 'Cliente']
print(loja, produto, cliente)

#Filtra por posiçao do indice e da coluna
loja = df_analise.iloc[3, 2]
produto = df_analise.iloc[3, 3]
cliente = df_analise.iloc[3, 6]
print(loja, produto, cliente)

#Filtrar por condicional
df_vendas_sp = df_analise[df_analise['Loja']=='São Paulo']
df_vendas_sp.to_csv('Vendas_SP.csv', index=False) #Exporta os dados sem o indice
display(df_vendas_sp)

df_vendas_2024 = df_analise[df_analise['Data'].dt.year==2024] #Extrai o ano de uma coluna de data (A coluna precisa ser datetime)
display(df_vendas_2024)

#Duas Condições
df_vendas_HDMI_SUL = df_analise[(df_analise['Produto']=='Cabo HDMI') & (df_analise['Regiao']=='Sul')]
display(df_vendas_HDMI_SUL)

Porto Alegre Cabo HDMI Cliente_22886
Porto Alegre Cabo HDMI Cliente_22886

,ID_Pedido,Data,Loja,Produto,Preco_Unitario,Qtd,Cliente,Faturamento,Forma_de_Venda,Regiao
23,39483,2023-01-01,São Paulo,Mouse Gamer,120.0,1,Cliente_1274,120.0,Fisica,Sudeste
24,48375,2023-01-01,São Paulo,Mouse Gamer,120.0,1,Cliente_1544,120.0,Fisica,Sudeste
27,90270,2023-01-01,São Paulo,Mouse Gamer,120.0,1,Cliente_6418,120.0,Fisica,Sudeste
38,53171,2023-01-01,São Paulo,Teclado Mecânico,250.0,1,Cliente_19747,250.0,Fisica,Sudeste
40,59136,2023-01-01,São Paulo,Teclado Mecânico,250.0,1,Cliente_14239,250.0,Fisica,Sudeste
...,...,...,...,...,...,...,...,...,...,...
99978,7446,2024-12-30,São Paulo,iPhone 14,5500.0,1,Cliente_1302,5500.0,Fisica,Sudeste
99985,60640,2024-12-30,São Paulo,iPhone 14,5500.0,1,Cliente_13172,5500.0,Fisica,Sudeste
99990,77621,2024-12-30,São Paulo,iPhone 14,5500.0,1,Cliente_19106,5500.0,Fisica,Sudeste
99991,91693,2024-12-30,São Paulo,iPhone 14,5500.0,1,Cliente_17362,5500.0,Fisica,Sudeste
99993,177,2024-12-30,São Paulo,Smartphone Samsung,2200.0,3,Cliente_4388,6600.0,Fisica,Sudeste

,ID_Pedido,Data,Loja,Produto,Preco_Unitario,Qtd,Cliente,Faturamento,Forma_de_Venda,Regiao
50423,22735,2024-01-01,São Paulo,Cabo HDMI,40.0,1,Cliente_14772,40.0,Fisica,Sudeste
50424,31751,2024-01-01,Curitiba,Cabo HDMI,40.0,1,Cliente_16439,40.0,Fisica,Sul
50425,36481,2024-01-01,Salvador,Cabo HDMI,40.0,1,Cliente_4025,40.0,Fisica,Nordeste
50426,44184,2024-01-01,Curitiba,Cabo HDMI,40.0,1,Cliente_1577,40.0,Fisica,Sul
50427,44259,2024-01-01,Porto Alegre,Cabo HDMI,40.0,1,Cliente_1944,40.0,Fisica,Sul
...,...,...,...,...,...,...,...,...,...,...
99995,43207,2024-12-30,Belo Horizonte,Notebook Dell,3500.0,2,Cliente_15893,7000.0,Fisica,Sudeste
99996,94455,2024-12-30,Curitiba,Notebook Dell,3500.0,2,Cliente_17419,7000.0,Fisica,Sul
99997,35192,2024-12-30,Salvador,iPhone 14,5500.0,2,Cliente_7615,11000.0,Fisica,Nordeste
99998,60794,2024-12-30,Rio De Janeiro,Smartphone Samsung,2200.0,5,Cliente_9964,11000.0,Fisica,Sudeste
99999,86379,2024-12-30,Salvador,iPhone 14,5500.0,2,Cliente_25166,11000.0,Fisica,Nordeste

,ID_Pedido,Data,Loja,Produto,Preco_Unitario,Qtd,Cliente,Faturamento,Forma_de_Venda,Regiao
0,1700,2023-01-01,Porto Alegre,Cabo HDMI,40.0,1,Cliente_14435,40.0,Fisica,Sul
2,35599,2023-01-01,Porto Alegre,Cabo HDMI,40.0,1,Cliente_18680,40.0,Fisica,Sul
3,37130,2023-01-01,Porto Alegre,Cabo HDMI,40.0,1,Cliente_22886,40.0,Fisica,Sul
4,49140,2023-01-01,Porto Alegre,Cabo HDMI,40.0,1,Cliente_24445,40.0,Fisica,Sul
9,70138,2023-01-01,Porto Alegre,Cabo HDMI,40.0,1,Cliente_9348,40.0,Fisica,Sul
...,...,...,...,...,...,...,...,...,...,...
99874,75695,2024-12-30,Porto Alegre,Cabo HDMI,40.0,1,Cliente_29587,40.0,Fisica,Sul
99875,78584,2024-12-30,Curitiba,Cabo HDMI,40.0,1,Cliente_21307,40.0,Fisica,Sul
99880,35127,2024-12-30,Curitiba,Cabo HDMI,40.0,2,Cliente_20687,80.0,Fisica,Sul
99881,47774,2024-12-30,Porto Alegre,Cabo HDMI,40.0,2,Cliente_14363,80.0,Fisica,Sul
99882,64473,2024-12-30,Porto Alegre,Cabo HDMI,40.0,2,Cliente_11598,80.0,Fisica,Sul

In [ ]:
#ANALISE POR GRUPAMENTO
analise_lojas = df_analise[['Loja', 'Faturamento']].groupby('Loja').sum() #AGRUPA dados e faz cálculos em cima desses grupos
analise_lojas = analise_lojas.sort_values(by='Faturamento', ascending=False)
analise_lojas = analise_lojas.reset_index()
analise_lojas['Faturamento'] = analise_lojas['Faturamento'].map('R${:,.2f}'.format)

display(analise_lojas)

             Loja      Faturamento
0        Salvador  R$42,300,610.00
1  Rio De Janeiro  R$42,294,720.00
2          Recife  R$42,190,390.00
3       São Paulo  R$42,090,690.00
4  Belo Horizonte  R$41,714,890.00
5    Porto Alegre  R$41,678,460.00
6        Curitiba  R$41,121,720.00
7          Online   R$6,080,850.00